body{
    background-color: rgb(220, 210, 180);
  }
  table {
    margin:auto;
    border-collapse: collapse;
    background-color: rgb(231, 238, 219);
  }
  th, td {
    overflow: hidden;
    font-family: Arial;
    border-collapse: collapse;
    padding: 4px;
    padding-right: 2.5cm;
    padding-left: 0.5cm;
    border-bottom: solid 1px  rgb(100, 40, 0);
  }
  td{
    color: rgb(85, 84, 84);
    text-align: justify;
  }
  th {   
    text-align: center;
    color:white;  
    background-color: rgb(224, 181, 156);
    border-bottom: solid 1px  rgb(100, 40, 0);
  }
  h1, h2, h3 {
    color:rgb(100, 40, 0);
    font-family:Arial;
    text-decoration: solid;
    text-align: center;
}
tbody tr:hover{
  background-color: rgb(224, 200, 156);
}
@keyframes fadein{
from{
  opacity: 0;
}to{
  opacity: 1;
}
}
#Ejercicio{
  animation: fadein 2.5s ease-in;
}
